* {
  box-sizing: border-box;
}

/*---------------Body-------------*/

main{
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family :'Open Sans', sans-serif;
  display: grid;
  grid-template: 
  75px 
  50vh 
  50vh/ 1fr 1fr 1fr;
}

/*----------------Header--------------*/

header {
align-items: center;
background-color: #1F1F3d;
color: #fff;
display: flex;
flex-direction: row;
/* height: ; */
justify-content: space-between;
width: 100%;
padding: 10px;
}

h1 {
  font-weight: 800;
}

span {
  color: #FFC30C;
}

form {
  color: #F3F6F7;
  border: 1
}

.search-form {
  display: flex;
  width: 30%;
  margin-right: 1.5%;
  margin-top: 1.5%;
}

/*----------------Main------------*/

aside {
  display: flex;
  
}


section {
  background-color: #587A8A;
  grid-area: side;
  display: flex;
}

button {
  font-family :'Open Sans', sans-serif;
  font-weight: 700;
}